# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-64/blas-1.0-mkl.conda
https://repo.anaconda.com/pkgs/main/osx-64/ca-certificates-2020.10.14-0.conda
https://repo.anaconda.com/pkgs/main/osx-64/gettext-0.19.8.1-hb0f4f8b_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/intel-openmp-2019.4-233.conda
https://repo.anaconda.com/pkgs/main/osx-64/jpeg-9b-he5867d9_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/libcxx-10.0.0-1.conda
https://repo.anaconda.com/pkgs/main/osx-64/libiconv-1.16-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libsodium-1.0.18-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libuv-1.40.0-haf1e3a3_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pandoc-2.11-h0dc7051_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/xz-5.2.5-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/zlib-1.2.11-h1de35cc_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/expat-2.2.10-hb1e8313_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/icu-58.2-h0a44026_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/libffi-3.3-hb1e8313_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/libpng-1.6.37-ha441bb4_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/lz4-c-1.9.2-h79c402e_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl-2019.4-233.conda
https://repo.anaconda.com/pkgs/main/osx-64/ncurses-6.2-h0a44026_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/openssl-1.1.1h-haf1e3a3_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pcre-8.44-hb1e8313_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/tk-8.6.10-hb0a8c7a_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/zeromq-4.3.3-hb1e8313_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/freetype-2.10.4-ha233b18_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/glib-2.66.1-h9bbe63b_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libedit-3.1.20191231-h1de35cc_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/readline-8.0-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/zstd-1.4.5-h41d2c2f_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/dbus-1.13.18-h18a8e69_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libtiff-4.1.0-hcb84e12_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/sqlite-3.33.0-hffcf06c_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/lcms2-2.11-h92f6f08_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/python-3.8.5-h26836e1_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/qt-5.9.7-h468cd18_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/appnope-0.1.0-py38_1001.conda
https://repo.anaconda.com/pkgs/main/noarch/async_generator-1.10-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/attrs-20.2.0-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/backcall-0.2.0-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/certifi-2020.6.20-pyhd3eb1b0_3.conda
https://repo.anaconda.com/pkgs/main/noarch/decorator-4.4.2-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/defusedxml-0.6.0-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/entrypoints-0.3-py38_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/ipython_genutils-0.2.0-py38_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/markupsafe-1.1.1-py38h1de35cc_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/mistune-0.8.4-py38h1de35cc_1001.conda
https://repo.anaconda.com/pkgs/main/noarch/nest-asyncio-1.4.1-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/ninja-1.10.1-py38h879752b_0.conda
https://repo.anaconda.com/pkgs/main/noarch/olefile-0.46-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pandocfilters-1.4.2-py38_1.conda
https://repo.anaconda.com/pkgs/main/noarch/parso-0.7.0-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pickleshare-0.7.5-py38_1001.conda
https://repo.anaconda.com/pkgs/main/noarch/prometheus_client-0.8.0-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/ptyprocess-0.6.0-py38_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.20-py_2.conda
https://repo.anaconda.com/pkgs/main/noarch/pyparsing-2.4.7-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pyrsistent-0.17.3-py38haf1e3a3_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pyzmq-19.0.2-py38hb1e8313_1.conda
https://repo.anaconda.com/pkgs/main/noarch/qtpy-1.9.0-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/send2trash-1.5.0-py38_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/sip-4.19.8-py38h0a44026_0.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.15.0-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/testpath-0.4.4-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/tornado-6.0.4-py38h1de35cc_1.conda
https://repo.anaconda.com/pkgs/main/noarch/typing_extensions-3.7.4.3-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/wcwidth-0.2.5-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/webencodings-0.5.1-py38_1.conda
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.35.1-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/zipp-3.4.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/cffi-1.14.3-py38hed5b41f_0.conda
https://repo.anaconda.com/pkgs/main/noarch/importlib-metadata-2.0.0-py_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/jedi-0.17.2-py38_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl-service-2.3.0-py38hfbe908c_0.conda
https://repo.anaconda.com/pkgs/main/noarch/packaging-20.4-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pexpect-4.8.0-py38_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/pillow-8.0.1-py38h5270095_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pyqt-5.9.2-py38h655552a_2.conda
https://repo.anaconda.com/pkgs/main/noarch/python-dateutil-2.8.1-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/setuptools-50.3.0-py38h0dc7051_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/terminado-0.9.1-py38_0.conda
https://repo.anaconda.com/pkgs/main/noarch/traitlets-5.0.5-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/argon2-cffi-20.1.0-py38haf1e3a3_1.conda
https://repo.anaconda.com/pkgs/main/noarch/bleach-3.2.1-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/importlib_metadata-2.0.0-1.conda
https://repo.anaconda.com/pkgs/main/noarch/jinja2-2.11.2-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/jupyter_core-4.6.3-py38_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/numpy-base-1.19.2-py38hcfb5961_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pip-20.2.4-py38_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pygments-2.7.1-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/jsonschema-3.2.0-py_2.conda
https://repo.anaconda.com/pkgs/main/noarch/jupyter_client-6.1.7-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/jupyterlab_pygments-0.1.2-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/prompt-toolkit-3.0.8-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/ipython-7.18.1-py38h5ca1d4c_0.conda
https://repo.anaconda.com/pkgs/main/noarch/nbformat-5.0.8-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/prompt_toolkit-3.0.8-0.conda
https://repo.anaconda.com/pkgs/main/osx-64/ipykernel-5.3.4-py38h5ca1d4c_0.conda
https://repo.anaconda.com/pkgs/main/noarch/nbclient-0.5.1-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/jupyter_console-6.2.0-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/nbconvert-6.0.7-py38_0.conda
https://repo.anaconda.com/pkgs/main/noarch/qtconsole-4.7.7-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/notebook-6.1.4-py38_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/widgetsnbextension-3.5.1-py38_0.conda
https://repo.anaconda.com/pkgs/main/noarch/ipywidgets-7.5.1-py_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/jupyter-1.0.0-py38_7.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl_fft-1.2.0-py38hc64f4ea_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl_random-1.1.1-py38h959d312_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/numpy-1.19.2-py38h456fd55_0.conda
https://conda.anaconda.org/pytorch/osx-64/pytorch-1.7.0-py3.8_0.tar.bz2
https://conda.anaconda.org/pytorch/osx-64/torchaudio-0.7.0-py38.tar.bz2
https://conda.anaconda.org/pytorch/osx-64/torchvision-0.8.1-py38_cpu.tar.bz2
